body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

.session {
  margin-bottom: 30px;
}

.row {
  height: 12px;
  width: 100%;
}
#menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  max-width: 280px;
  border-radius: 10px;
}
#legend {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  max-width: 280px;
  border-radius: 10px;
}

.my-popup .mapboxgl-popup-content {
  width: 200px;
  background: rgba(83, 92, 104, 0.9);
  border-top: 50px black;
  padding: 20px;
  color: white;
}
h3 {
  border-top: 15px blue;
  font-family: Lato, sans-serif;
}
p {
  font-size: 15px;
  font-family: Lato, sans-serif;
}